.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-image: url(/src/assets/hero.png);
  background-size: cover;
  row-gap: 1rem;
}

.suptitle {
  font-size: 0.8rem;
  font-weight: 300;
  text-transform: uppercase;
}

.suptitle-light {
  color: white;
  text-align: center;
}

.suptitle-hero {
  font-size: 3rem;
  
}

.btn {
  color: white;
  background-color: rgb(0 210 205);
  text-transform: capitalize;
  border-radius: 0.2rem;
  padding: 1rem 2rem;
}
